In [39]:
import pandas as pd

In [40]:
from pyspark.mllib import recommendation

In [41]:
from pyspark.mllib.recommendation import ALS

In [42]:
data = pd.read_csv('/home/sfedotov/ucheba/train.csv')

In [43]:
data.head()

   rating  movieId                userId
0     3.0     2158  10953099004185006703
1     3.5    12959  10953099004185006703
2     3.5     7808  10953099004185006703
3     4.0     9049   4762492897681260571
4     3.0    12363   2110017552365950661

In [44]:
from tqdm import tqdm

In [45]:
ratings = []
for elem in tqdm(data.values):
    ratings.append([int(elem[-1]), int(elem[-2]), int(elem[0])])

100%|██████████| 19014573/19014573 [00:44<00:00, 429706.75it/s]

In [49]:
len(ratings)

19014573

In [17]:
ratings[0]

[10953099004185006703L, 2158, 3]

In [18]:
dist_users = set(map(lambda elem: elem[0], ratings))

In [19]:
len(dist_users)

138493

In [6]:
data_train = pd.read_csv('/home/sfedotov/ucheba/train.csv')

In [7]:
data_train['movieId'] = map(str, data_train['movieId'])

In [8]:
123

123

In [9]:
len(data_train)

19014573

In [47]:
data_test = pd.read_csv('/home/sfedotov/sfedotov_oneshots/notebooks/test.csv')

In [48]:
data_test.head()

   movieId                userId
0      939   3128775406573976678
1       19   6058877902987009152
2     1213   2787275058272728238
3     1141  14199414671932452776
4     2935   5958052843391945803

In [11]:
data_test['movieId'] = map(str, data_test['movieId'])

In [13]:
data_train.head()

   rating movieId                userId
0     3.0    2158  10953099004185006703
1     3.5   12959  10953099004185006703
2     3.5    7808  10953099004185006703
3     4.0    9049   4762492897681260571
4     3.0   12363   2110017552365950661

In [14]:
data_test.head()

   Id movieId      userId
0   1     939   3128775.0
1   2      19  60588779.0
2   3    1213    278728.0
3   4    1141    141994.0
4   5    2935    595805.0

In [15]:
mean_movie_rating = data_train.groupby('movieId')['rating'].mean()

In [16]:
mean_ratings = dict(mean_movie_rating)

In [17]:
import numpy as np

In [20]:
SREDNEE = np.mean(data_train['rating'])

In [21]:
SREDNEE

3.5207268919475605

In [22]:
import scipy.stats as sps

In [23]:
123

123

In [24]:
from tqdm import tqdm

In [25]:
normik = sps.norm(0, 1e-6).rvs(len(data_test))

In [26]:
from collections import defaultdict

In [27]:
results = []
mean_rating_for_user = defaultdict(list)
for ind, (movie, user_) in enumerate(data_test[['movieId', 'userId']].values):
    try:
        mean_rating_for_user[user_].append(mean_ratings[movie])
        results.append(mean_ratings[movie] + normik[ind])
    except:
        mean_rating_for_user[user_].append(3.52)
        results.append(3.52)

In [28]:
mean_rating_for_user_final = {k: np.mean(v) for k,v in mean_rating_for_user.items()}

In [29]:
data_test['rating'] = results

In [30]:
final_ratings = []
for uid, rat in data_test[['userId', 'rating']].values:
    if np.isnan(uid):
        final_ratings.append(rat)
    else:
        final_ratings.append(0.5 * (mean_rating_for_user_final[uid] + rat))

In [31]:
data_test['rating'] = final_ratings

In [32]:
resalts = data_test[['Id', 'rating']]

In [33]:
resalts.to_csv('otpravit_recs.csv', index=False)

In [53]:
data_test['movieId'].values

array([939, 19, 1213, ..., '1919', '1884', '1404'], dtype=object)

In [ ]:
mean_rating_for_user =

In [36]:
qwjekjqnw = pd.read_csv('/home/sfedotov/ucheba/baseline.csv')

In [37]:
qwjekjqnw

            Id    rating
0            1  4.067366
1            2  3.271977
2            3  3.930169
3            4  3.575967
4            5  3.582748
5            6  2.660362
6            7  3.065390
7            8  3.931538
8            9  3.288660
9           10  3.661236
10          11  3.519342
11          12  3.483876
12          13  3.415073
13          14  4.150085
14          15  4.242816
15          16  4.209970
16          17  3.179961
17          18  3.620517
18          19  2.390702
19          20  3.574560
20          21  3.868148
21          22  3.900379
22          23  4.053340
23          24  3.015216
24          25  3.553522
25          26  2.936937
26          27  1.649004
27          28  3.631982
28          29  3.731814
29          30  4.231828
...        ...       ...
969421  969422  3.008335
969422  969423  3.441876
969423  969424  3.351495
969424  969425  4.130037
969425  969426  3.533238
969426  969427  3.435736
969427  969428  3.885866
969428  969429  3.296351
969429  969430  3.807928
969430  969431  3.387476
969431  969432  2.443343
969432  969433  2.851239
969433  969434  3.693736
969434  969435  2.859238
969435  969436  3.373115
969436  969437  3.276064
969437  969438  3.753083
969438  969439  3.321145
969439  969440  3.789422
969440  969441  3.704092
969441  969442  4.067914
969442  969443  3.115831
969443  969444  4.132419
969444  969445  2.842521
969445  969446  2.054212
969446  969447  2.543636
969447  969448  4.148144
969448  969449  2.993951
969449  969450  3.071109
969450  969451  3.997077

[969451 rows x 2 columns]

In [32]:
resalts

            Id    rating
0            1  4.058568
1            2  2.602818
2            3  3.894290
3            4  3.384615
4            5  3.571088
5            6  3.499712
6            7  3.511282
7            8  3.891140
8            9  3.502961
9           10  4.142092
10          11  3.487125
11          12  2.859059
12          13  3.449743
13          14  3.820338
14          15  3.380191
15          16  3.664926
16          17  1.908769
17          18  3.320438
18          19  4.065435
19          20  2.359490
20          21  3.500000
21          22  3.638338
22          23  3.657546
23          24  3.542805
24          25  2.675101
25          26  3.980063
26          27  2.887483
27          28  3.332112
28          29  3.838845
29          30  4.036693
...        ...       ...
969421  969422  3.520000
969422  969423  3.520000
969423  969424  3.520000
969424  969425  3.520000
969425  969426  3.520000
969426  969427  3.520000
969427  969428  3.520000
969428  969429  3.520000
969429  969430  3.520000
969430  969431  3.520000
969431  969432  3.520000
969432  969433  3.520000
969433  969434  3.520000
969434  969435  3.520000
969435  969436  3.520000
969436  969437  3.520000
969437  969438  3.520000
969438  969439  3.520000
969439  969440  3.520000
969440  969441  3.520000
969441  969442  3.520000
969442  969443  3.520000
969443  969444  3.520000
969444  969445  3.520000
969445  969446  3.520000
969446  969447  3.520000
969447  969448  3.520000
969448  969449  3.520000
969449  969450  3.520000
969450  969451  3.520000

[969451 rows x 2 columns]